@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Libre+Franklin|Montserrat+Subrayada&display=swap&subset=latin-ext');
html{
    box-sizing: border-box;
}
body,#header,#main,#footer {
    margin: 0 auto;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}
a{
    text-decoration: none;
    color: floralwhite; 
}
/************************************* header *********************************************/
#header{
    height: 800px;
    background: url(../image/volcano3.jpg) top center fixed no-repeat;
    background-size: cover;
    animation: backgroundScroll 20s infinite alternate; 
    text-align: center;
}
@keyframes backgroundScroll {
    0% {background-position: 0 0;}
    100% {background-position: 0px -100px;}
}
#h1 {
    margin: auto; 
    padding-top: 18em;
}
h1{
    margin: 0;
    text-align: center;
    font-family: 'Alex Brush', cursive;
    color:floralwhite;
    font-size: 6em;
    font-weight: 80;
    animation: color-change 20s infinite alternate ease-out;
    text-shadow: 2px 2px 2px #384460;
}
@keyframes color-change {
    0% { color: #202128; }
    100% { color: floralwhite; }
}
#lang{
    position: absolute;
    top: 2em;
    right: 3em;
}
#scrolldown{
    color: floralwhite;
    margin-top: 12em;
    font-size: 0.8em;
}
#nav {
    position: absolute;
    top: 10em;
    right: 2.5em;
    text-align: left;
}
#nav ul li{
    list-style: none;
    padding-bottom: 0.8em;
    font-size: 1em;
}
#nav ul #firstli {
    font-size: 1.8em;
}
#header_description{
    display: none;
    position: absolute;
    top: 3.5em;
    font-size: 3em;
    color: #384460;
}

#reservation {
    width: 20em;
    border: 1.5px solid green;
    text-align: center;
    margin: 2em auto;
}
/****************************** main part ******************************************/
#main {
    margin: 0 auto;
    padding: 0;
    background: url(../image/Vesuvius-texture.jpg) top center fixed repeat-y;
    background-size: cover;
}
.module{
    display: flex;
    flex-flow: row wrap;
    
    /* animation: backgroundScroll 30s infinite alternate; */
    text-align: center;
}
.subtitle{
    flex: 1 0 0;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 3em;
    font-weight: 80;
    color: floralwhite;
}
.food_img {
    flex: 1 0 0;
}

.module_image{
    width: 40em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#specials{
    
}



