.flex-container {
	display:flex;
    flex-flow: row wrap;
}
.flex-container > * {
	flex: 1 0 0;
}
#main-picture {
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin:0;
  width: 100%;
}
#appetizer, #entree, #main-course, #dessert, .menu-pictures, .food-list {
    flex: 1 0 0;
    text-align:center;
    margin:0;
}
.menu-pictures img {
    max-width:99%;
    height: auto;
}
#menu {
    max-width: 900px;
    text-align:center;
    flex:2 0 0;
    margin-top: 6em;
}
.menu-list {
    display:none;
    margin: 0.5em 0.5em;
}
#menu-price {
    flex:1 0 0;
    margin-top:5em;
}