/**************************
Table of Content:
1. General Styles
2. Index 
3. About Us
4. Contact Us
5. Gift Cards
6. Locations
7. Menu
8. Booking
9. Careers
10. Site Map
11. Specials
12. Contest
**************************/

/**************************
1. General Styles
**************************/

/**************************
2. Index 
**************************/

/**************************
3. About Us
**************************/

/**************************
4. Contact Us
**************************/

/**************************
5. Gift Cards
**************************/

/**************************
6. Locations
**************************/

/**************************
7. Menu
**************************/
#content-flexbox {
    display:flex;
    flex-flow: row wrap;
}
#main-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#appetizer, #entree, #main-course, #dessert {
    flex: 1 0 0;
    margin-left:10px;
}

/**************************
8. Booking
**************************/

/**************************
9. Careers
**************************/

/**************************
10. Site Map
**************************/

/**************************
11. Specials
**************************/

/**************************
12. Contest
**************************/